## .NET Core
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio / VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / JetBrains
.idea/

# OS Files
.DS_Store
Thumbs.db
